.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**

**/.phpunit.result.cache
**/tsconfig.tsbuildinfo
**/webpack.config.js
client/tests/**
coverage/**
server/tests/**
shared.webpack.config.js
jest.config.js
*.vsix